homework/bui1/01_hello_world.sln
homework/bui1/ALL_BUILD.vcxproj
homework/bui1/ALL_BUILD.vcxproj.filters
homework/bui1/cmake_install.cmake
homework/bui1/hello_world.vcxproj
homework/bui1/hello_world.vcxproj.filters
homework/bui1/ZERO_CHECK.vcxproj
homework/bui1/ZERO_CHECK.vcxproj.filters
homework/bui1/CMakeFiles/cmake.check_cache
homework/bui1/CMakeFiles/CMakeOutput.log
homework/bui1/CMakeFiles/generate.stamp
homework/bui1/CMakeFiles/generate.stamp.depend
homework/bui1/CMakeFiles/generate.stamp.list
homework/bui1/CMakeFiles/TargetDirectories.txt
homework/bui1/CMakeFiles/1a1cea68fce29732dd9d05e5fa53806c/generate.stamp.rule
homework/bui1/CMakeFiles/3.25.1/CMakeCXXCompiler.cmake
homework/bui1/CMakeFiles/3.25.1/CMakeDetermineCompilerABI_CXX.bin
homework/bui1/CMakeFiles/3.25.1/CMakeRCCompiler.cmake
homework/bui1/CMakeFiles/3.25.1/CMakeSystem.cmake
homework/bui1/CMakeFiles/3.25.1/VCTargetsPath.txt
homework/bui1/CMakeFiles/3.25.1/VCTargetsPath.vcxproj
homework/bui1/CMakeFiles/3.25.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
homework/bui1/CMakeFiles/3.25.1/CompilerIdCXX/CompilerIdCXX.exe
homework/bui1/CMakeFiles/3.25.1/CompilerIdCXX/CompilerIdCXX.vcxproj
homework/bui1/CMakeFiles/3.25.1/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
homework/bui1/CMakeFiles/3.25.1/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
homework/bui1/CMakeFiles/3.25.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
homework/bui1/CMakeFiles/3.25.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
homework/bui1/CMakeFiles/3.25.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
homework/bui1/CMakeFiles/3.25.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
homework/bui1/CMakeFiles/3.25.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
homework/bui1/CMakeFiles/3.25.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
homework/bui1/CMakeFiles/3.25.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
homework/bui1/CMakeFiles/3.25.1/x64/Debug/VCTargetsPath.recipe
homework/bui1/CMakeFiles/3.25.1/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
homework/bui1/Debug/hello_world.exe
homework/bui1/Debug/hello_world.pdb
homework/bui1/CMakeCache.txt
homework/bui1/hello_world.dir/Debug/example.obj
homework/bui1/hello_world.dir/Debug/hello_world.exe.recipe
homework/bui1/hello_world.dir/Debug/hello_world.ilk
homework/bui1/hello_world.dir/Debug/hello_world.obj
homework/bui1/hello_world.dir/Debug/move_me_out.obj
homework/bui1/hello_world.dir/Debug/vc143.pdb
homework/bui1/hello_world.dir/Debug/hello_world.tlog/CL.command.1.tlog
homework/bui1/hello_world.dir/Debug/hello_world.tlog/CL.read.1.tlog
homework/bui1/hello_world.dir/Debug/hello_world.tlog/CL.write.1.tlog
homework/bui1/hello_world.dir/Debug/hello_world.tlog/CustomBuild.command.1.tlog
homework/bui1/hello_world.dir/Debug/hello_world.tlog/CustomBuild.read.1.tlog
homework/bui1/hello_world.dir/Debug/hello_world.tlog/CustomBuild.write.1.tlog
homework/bui1/hello_world.dir/Debug/hello_world.tlog/hello_world.lastbuildstate
homework/bui1/hello_world.dir/Debug/hello_world.tlog/link.command.1.tlog
homework/bui1/hello_world.dir/Debug/hello_world.tlog/link.read.1.tlog
homework/bui1/hello_world.dir/Debug/hello_world.tlog/link.write.1.tlog
homework/bui1/x64/Debug/ALL_BUILD/ALL_BUILD.recipe
homework/bui1/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
homework/bui1/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.command.1.tlog
homework/bui1/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.read.1.tlog
homework/bui1/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.write.1.tlog
homework/bui1/x64/Debug/ZERO_CHECK/ZERO_CHECK.recipe
homework/bui1/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
homework/bui1/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
homework/bui1/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
homework/bui1/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
